.App {
  background-color: rgba(95, 120, 155, 0.54);
  font-size: calc(10px + 2vmin);
  color: #3c465b;
}

.App-header {
  display: flex;
  flex-direction: row;
  text-align: center;
  min-height: 3vh;
  align-items: center;
  margin: 0% 2%;
}

.App-header a {
  padding-right: 2%;
}

.App-main {
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}
