.Token-button-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 10px;
    padding: 15% 10%;
}

.Token-button {
    padding: 1%;
}

.Token-button-input {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    border: 0;
    line-height: 2.5;
    padding: 15% 20% 0;
    width: 90%;
    font-size: 2rem;
    text-align: center;
    color: #000;
    text-shadow: 1px 1px 1px #969696;
    border-radius: 10px;
    background-color: rgb(238, 243, 250);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.Token-button-input:hover {
    background-color: rgb(0, 115, 255);
}

.Token-button-input:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}
